{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}Параметры формирования отчета{% endblock %}

{% block content %}
<h2 class="container">Параметры отчета</h2>
    <form  class="container" method="post">
        {% csrf_token %}
        Пользователь: <b>{{ user.username }}</b><br/>
        Отчет: <b>{{ report_name }}</b><br/><br/>
        <div class="form-group">
        {% for parameter, value in parameters_report.items %}
            <label for="id_{{ parameter }}">{{ value }}</label>
            <input name="{{ parameter }}" id="id_{{ parameter }}" type="text" class="form-control">
        {% endfor %}
        </div>
        {% buttons submit="Сформировать" %} {% endbuttons %}
    </form>
{% endblock %}